# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Distribution / Packaging (python)
__pycache__/
.pytest_cache/
venv/
*.py[cod]
*$py.class
.Python
.env

# Distribution / Packaging (other)
dist/
build/
*.so
*.zip

# Unit test / coverage
.tox/
.coverage
response*.json

# AWS / KMS
.aws/
*.pem

# IDE
.idea/          # IntelliJ IDEA
*.swp           # Vim swap files
.*.swp          # Vim swap files (of hidden file)
*~              # Emacs backup files

# OS
.DS_Store # OSX
Thumbs.db # Windows
